.App {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-left: 50%;
  
  }
.information {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 300px;
  background-color: whitesmoke;
  
}
.information input {
  width: 300px;
  height: 50px;
  /* width: 100px; */
  justify-content: center;
  background-color: aquamarine;

}
button {
  background-color:blanchedalmond;
  margin: 10px;
  width: 150px;
  height: 50px;
}
button:hover {
  background-color: yellow;
}

.employees {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.employee {
  width: 700px;
  height: 50px;
  border: 1px solid black;
  display: flex;
  padding: 10px;
  margin: 10px;
  font-family: 'Courier New', Courier, monospace;
}

.employee h3 {
  margin: 5px;

}

.search-input{
  margin-top: 105px;
  display: flex;
}

.search input{
  /* display: flex; */
  /* font-style: italic; */
  /* justify-content: flex-end;  */
  /* height: 25px; */
  /* margin-right:50px; */
  background-color: white;
  border: 0;
  border-radius: 2px;
  border-top-right-radius: 0px;
  border-bottom-right-radius: 0px;
  font-size: 18px;
  padding: 15px;
  height: 30px;
  width: 300px;
}

.searchIcon {
  font-weight: 60px;
  width: 40px;
  background-color: white;
  display: grid;
  place-items: center;
}

.field {
  display: flex;
  justify-content: center;
  margin: 20px;
  background-color: aquamarine;
  text-align: center;
  width: 50%;
  
}